body {
  background-color: #380c09;
}

h1 {
  transform:scale(1,1.5); /* W3C */
  -webkit-transform:scale(1,1.5); /* Safari and Chrome */
  -moz-transform:scale(1,1.5); /* Firefox */
  -ms-transform:scale(1,1.5); /* IE 9 */
  -o-transform:scale(1,1.5); /* Opera */
}

.island {
  background-color: #962709;
  width: 75%;
  box-shadow: none;
}

img.error {
  width: 100%;
}
